.ml-33 {
  margin-left: 2.06rem;
}
.mt-49 {
  margin-top: 3.06rem;
}
.mt-21 {
  margin-top: 1.31rem;
}
.ml-9 {
  margin-left: 0.56rem;
}
.page {
  padding: 3.89rem 0.42rem 3.88rem 1rem;
  background-color: #f2f4f9;
  border-radius: 2rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.image {
  width: 0.44rem;
  height: 0.94rem;
}
.section {
  background-color: #dce0e8;
  border-radius: 0.13rem;
  height: 0.5rem;
}
.section_2 {
  background-color: #242d49;
  border-radius: 0.13rem;
  width: 5.59rem;
  height: 0.5rem;
}
.font {
  font-size: 1rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.01rem;
}
.text {
  color: #242d49;
  font-weight: 600;
  line-height: 0.96rem;
}
.group_1 {
  margin-top: 4.76rem;
}
.font_2 {
  font-size: 1.88rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.019rem;
  line-height: 1.4rem;
  font-weight: 800;
  color: #bec5d2;
}
.text_2 {
  color: #242d49;
  line-height: 1.84rem;
}
.group {
  padding: 0 5.25rem;
}
.group_2 {
  margin-top: 1.97rem;
}
.font_3 {
  font-size: 3.75rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.075rem;
  line-height: 2.88rem;
  font-weight: 800;
  color: #5d6985;
}
.text-wrapper {
  margin-right: 0.58rem;
  padding: 2.44rem 0 1.88rem;
  background-color: #0f66fe;
  border-radius: 1.5rem;
  filter: drop-shadow(0rem 0rem 0rem #0f67fe40);
  overflow: hidden;
  border: solid 0.063rem #edf5ff;
}
.text_3 {
  color: #ffffff;
  font-size: 8rem;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: 6.06rem;
  letter-spacing: -0.24rem;
}
.group_3 {
  margin-top: 1.54rem;
}
.text_4 {
  line-height: 1.42rem;
}
.section_3 {
  margin-right: 0.58rem;
  margin-top: 2.94rem;
  padding: 1.38rem 0 1.3rem;
  background-color: #0f66fe;
  border-radius: 0.75rem;
  overflow: hidden;
}
.text_5 {
  color: #ffffff;
  font-weight: 700;
  line-height: 0.77rem;
}
.image_2 {
  width: 1.13rem;
  height: 0.75rem;
}