.mt-33 {
  margin-top: 2.06rem;
}
.mt-21 {
  margin-top: 1.31rem;
}
.mt-17 {
  margin-top: 1.06rem;
}
.mt-11 {
  margin-top: 0.69rem;
}
.page {
  padding-bottom: 4.38rem;
  background-color: #f2f4f9;
  border-radius: 2rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.section {
  padding: 4.25rem 1rem 1.75rem;
  background-color: #242d49;
  border-radius: 2rem;
}
.image {
  border-radius: 0.63rem;
  width: 3rem;
  height: 3rem;
}
.text {
  margin-left: 0.38rem;
  color: #ffffff;
  font-size: 1.88rem;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: 1.83rem;
  letter-spacing: -0.019rem;
}
.text_2 {
  color: #dce0e8;
  font-size: 1rem;
  font-family: Plus Jakarta Sans;
  line-height: 0.96rem;
}
.group {
  padding: 0 1.5rem;
}
.list-item {
  padding: 0.75rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  filter: drop-shadow(0rem 1rem 1rem #090e1d0d);
  overflow: hidden;
}
.list-item:first-child {
  margin-top: 0;
}
.image-wrapper {
  padding: 1.44rem 0;
  background-color: #f2f4f9;
  border-radius: 0.75rem;
  overflow: hidden;
  width: 4rem;
  height: 4rem;
}
.image_2 {
  border-radius: 0.19rem;
  width: 1.25rem;
  height: 1.13rem;
}
.group_2 {
  margin-left: 0.75rem;
}
.font {
  font-size: 1rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.01rem;
  line-height: 0.77rem;
  font-weight: 800;
  color: #242d49;
}
.font_2 {
  font-size: 0.88rem;
  font-family: Plus Jakarta Sans;
  line-height: 0.84rem;
  color: #5d6985;
}
.image_3 {
  margin-left: 1.25rem;
  width: 0.44rem;
  height: 0.94rem;
}
.section_2 {
  padding: 1.13rem 0;
  background-color: #0f66fe;
  border-radius: 0.75rem;
  overflow: hidden;
}
.text_4 {
  color: #ffffff;
  font-weight: 700;
}
.image_8 {
  width: 1.13rem;
  height: 1.25rem;
}