.mt-33 {
  margin-top: 2.06rem;
}
.ml-29 {
  margin-left: 1.81rem;
}
.mt-31 {
  margin-top: 1.94rem;
}
.mt-45 {
  margin-top: 2.81rem;
}
.mt-21 {
  margin-top: 1.31rem;
}
.ml-37 {
  margin-left: 2.31rem;
}
.mt-43 {
  margin-top: 2.69rem;
}
.mt-15 {
  margin-top: 0.94rem;
}
.page {
  padding: 3.13rem 0 0.4rem;
  background-image: linear-gradient(159.4deg, #ebf6ff -22.8%, #ffffff 97.1%);
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.group_12 {
  margin-left: 0.82rem;
  margin-top: 5.3rem;
}
.text-wrapper {
  padding: 0.73rem 0 0.75rem;
  background-color: #7671e8;
  border-radius: 0.75rem;
  width: 3.69rem;
  height: 2.31rem;
}
.font {
  font-size: 1.13rem;
  font-family: Poppins;
  line-height: 0.83rem;
  color: #ffffff;
}
.text_2 {
  font-weight: 600;
  line-height: 0.83rem;
}
.font_2 {
  font-size: 1.13rem;
  font-family: Poppins;
  line-height: 0.83rem;
  color: #000000;
}
.text_3 {
  margin-left: 1.59rem;
  margin-top: 1.03rem;
  line-height: 0.79rem;
}
.text_4 {
  margin-left: 2.7rem;
  margin-top: 1rem;
  line-height: 0.8rem;
}
.group_11 {
  margin-left: 0.89rem;
  margin-top: -7.61rem;
  width: 22.98rem;
}
.text {
  margin-bottom: 0.35rem;
  color: #3d3131;
  font-size: 2.5rem;
  font-family: Poppins;
  font-weight: 600;
  line-height: 1.77rem;
}
.image {
  width: 3.38rem;
  height: 3.38rem;
}
.section_2 {
  margin-top: 6.19rem;
  padding: 1.7rem 1rem 1.5rem 1rem;
  background-color: #ffffff;
  border-radius: 1.5rem;
  overflow: hidden;
}
.font_3 {
  font-size: 1.13rem;
  font-family: Poppins;
  line-height: 1.09rem;
  color: #534d4d;
}
.text_5 {
  margin-left: 0.1rem;
  line-height: 1.26rem;
}
.image_2 {
  width: 3.75rem;
  height: 3.63rem;
}
.font_4 {
  font-size: 1.25rem;
  font-family: Poppins;
  line-height: 1.25rem;
  color: #5b5555;
}
.text_6 {
  line-height: 1.29rem;
}
.font_5 {
  font-size: 0.88rem;
  font-family: Poppins;
  line-height: 0.89rem;
  color: #5b5555;
}
.text_7 {
  line-height: 1.29rem;
}
.text_1 {
  margin-left: 0.072rem;
}
.text_8 {
  margin-left: 0.17rem;
}
.section_3 {
  padding: 0.31rem 0.19rem 0.25rem;
  background-image: linear-gradient(90deg, #7773e9 22.5%, #9dabf7 100%);
  border-radius: 1.75rem;
}
.group_3 {
  width: 5.44rem;
}
.image_3 {
  width: 3.63rem;
  height: 3.63rem;
}
.pos_2 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.text_9 {
  margin-right: 0.26rem;
  margin-top: 1.68rem;
  line-height: 0.82rem;
}
.pos_3 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.font_6 {
  font-size: 0.75rem;
  font-family: Poppins;
  line-height: 0.83rem;
  color: #5b5555;
}
.text_10 {
  font-size: 0.81rem;
}
.text_11 {
  margin-left: 0.084rem;
  font-size: 0.81rem;
}
.text_20 {
  margin-left: 0.084rem;
}
.font_7 {
  font-size: 1.25rem;
  font-family: Poppins;
  line-height: 0.94rem;
  color: #5b5555;
}
.text_12 {
  font-weight: 300;
  line-height: 0.82rem;
}
.image_4 {
  margin-right: 1rem;
  border-radius: 1.13rem;
  width: 4.44rem;
  height: 2.56rem;
}
.group_1 {
  padding: 0 0.13rem;
}
.text_13 {
  margin-top: 0.48rem;
}
.equal-division {
  position: relative;
  align-self: stretch;
  margin-top: -4.56rem;
}
.section_4 {
  padding: 0.35rem 0 0.37rem;
  background-color: #fafafa;
}
.equal-division-item_1 {
  padding: 0.16rem 0 0.34rem;
  width: 6.12rem;
}
.image_5 {
  width: 2.19rem;
  height: 2.19rem;
}
.font_8 {
  font-size: 0.75rem;
  font-family: Poppins;
  color: #a9aff4;
}
.text_16 {
  line-height: 0.75rem;
}
.equal-division-item_2 {
  margin-left: 13.45rem;
}
.group_5 {
  padding: 0.16rem 0.32rem 0.34rem;
  width: 6.12rem;
}
.text_17 {
  line-height: 0.54rem;
}
.equal-division-item_3 {
  position: absolute;
  right: 6.52rem;
  top: 50%;
  transform: translateY(-50%);
}
.group_6 {
  padding: 0.16rem 1.29rem 0.51rem;
  width: 6.12rem;
}
.image_6 {
  margin-left: 0.26rem;
}
.text_14 {
  color: #8e96f1;
  font-size: 0.75rem;
  font-family: Poppins;
  font-weight: 600;
  line-height: 0.59rem;
}
.equal-division-item_4 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.equal-division-item {
  padding: 0.16rem 0 0.46rem;
  width: 6.12rem;
}
.text_15 {
  line-height: 0.77rem;
}