.ml-22-5 {
  margin-left: 1.41rem;
}
.mt-9-5 {
  margin-top: 0.59rem;
}
.page {
  background-color: #f7f7f7;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.section {
  background-color: #ffffff;
}
.section_2 {
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=438fd6b0224a39ea698568032d9f3a72.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.section_3 {
  opacity: 0.5;
  background-image: linear-gradient(180deg, #00a8ffa1 3.2%, #154ec2 41.4%);
  height: 14.63rem;
}
.group {
  padding-top: 0.15rem;
}
.pos {
  position: absolute;
  left: 0.41rem;
  right: 0.34rem;
  top: 0.24rem;
}
.pos_2 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.image_3 {
  width: 2.09rem;
  height: 0.34rem;
}
.font {
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.55rem;
  color: #ffffff;
}
.text {
  line-height: 0.69rem;
}
.image {
  width: 0.81rem;
  height: 0.56rem;
}
.pos_3 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.text_2 {
  line-height: 0.57rem;
}
.image_2 {
  width: 1.53rem;
  height: 0.59rem;
}
.pos_4 {
  position: absolute;
  left: 0.81rem;
  right: 0.78rem;
  top: 2rem;
}
.image_5 {
  width: 0.66rem;
  height: 1.19rem;
}
.pos_5 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.image_4 {
  width: 4.25rem;
  height: 1.25rem;
}
.image_6 {
  width: 1.13rem;
  height: 0.28rem;
}
.pos_6 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.group_2 {
  padding-left: 0.97rem;
  padding-bottom: 0.38rem;
  overflow: hidden;
}
.pos_7 {
  position: absolute;
  left: 0;
  right: -1.13rem;
  top: 4rem;
}
.group_3 {
  padding: 0.68rem 0 0.3rem;
}
.font_2 {
  font-size: 0.88rem;
  font-family: Arial;
  line-height: 0.81rem;
  color: #ffffff;
}
.text_4 {
  opacity: 0.7;
}
.text_5 {
  line-height: 0.81rem;
}
.text_6 {
  line-height: 0.8rem;
}
.text_3 {
  color: #ffffff;
  font-size: 0.94rem;
  font-family: Arial;
  line-height: 0.86rem;
}
.text_7 {
  line-height: 0.8rem;
}
.section_4 {
  margin-right: 5.19rem;
  background-color: #ffffff;
  border-radius: 3.13rem;
  width: 1.75rem;
  height: 0.13rem;
}
.group_4 {
  margin-top: -7.69rem;
  padding-bottom: 1.13rem;
}
.image_7 {
  width: 100vw;
  height: 90vw;
}
.image_8 {
  width: 100vw;
  height: 74.1333vw;
}
.image_9 {
  width: 100vw;
  height: 75.2vw;
}