#_0_1083 {
position: absolute;
  top: 0.0000%;
  left: -0.0000%;
  width: 100.0000%;
  height: 28.2020%;
  z-index: 0;
}

#_0_1091 {
color: rgba(255,255,255,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.7500rem;
  line-height: 0.9000rem;
  font-weight: 400;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 22.71%;
  left: 6.40%;
  width: 24.27%;
  height: 8.73%;
  z-index: 1;
}

#I0_1094_41_52 {
border: 2.0px solid rgba(255, 255, 255, 1.0);
  border-radius: 0.0000rem 0.0000rem 0.0000rem 0.0000rem;
  position: absolute;
  top: 36.68%;
  left: 7.47%;
  width: 4.27%;
  height: 8.43%;
  z-index: 1;
}

#_0_1095 {
color: rgba(255,255,255,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.7500rem;
  line-height: 0.9000rem;
  font-weight: 600;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 36.24%;
  left: 14.93%;
  width: 25.60%;
  height: 8.73%;
  z-index: 1;
}

#_0_1092 {
position: absolute;
  top: 23.58%;
  left: 32.80%;
  width: 4.27%;
  height: 6.99%;
  z-index: 1;
}

#_0_1096 {
position: absolute;
  top: 25.55%;
  left: 68.00%;
  width: 10.67%;
  height: 17.47%;
  z-index: 1;
}

#_0_1146 {
position: absolute;
  top: 25.76%;
  left: 82.93%;
  width: 10.67%;
  height: 17.47%;
  z-index: 1;
}

#_0_1088 {
color: rgba(255,255,255,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 1.8750rem;
  line-height: 2.2500rem;
  font-weight: 600;
  text-align: left;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 56.33%;
  left: 6.40%;
  width: 72.53%;
  height: 34.93%;
  z-index: 1;
}

#_1_99 {
color: rgba(255,255,255,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.7500rem;
  line-height: 0.9000rem;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 6.11%;
  left: 5.33%;
  width: 14.40%;
  height: 8.73%;
  z-index: 1;
}

#_1_89 {
position: absolute;
  top: 7.57%;
  left: 84.19%;
  width: 4.07%;
  height: 4.79%;
  z-index: 1;
}

#_1_93 {
position: absolute;
  top: 7.71%;
  left: 78.31%;
  width: 4.53%;
  height: 4.66%;
  z-index: 1;
}

#_1_85 {
position: absolute;
  top: 7.57%;
  left: 89.60%;
  width: 6.49%;
  height: 4.95%;
  z-index: 1;
}

