.ml-69 {
  margin-left: 4.31rem;
}
.page {
  background-image: linear-gradient(180deg, #dad5fb 0%, #ffffff 42.7%);
  border-radius: 2rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.image {
  opacity: 0.3;
  border-radius: 1.56rem;
  mix-blend-mode: OVERLAY;
  width: 100vw;
  height: 216.5333vw;
}
.text_6 {
  color: #000000;
  font-size: 1.13rem;
  font-family: Plus Jakarta Sans;
  line-height: 0.85rem;
  letter-spacing: -0.022rem;
}
.pos_12 {
  position: absolute;
  left: 1.26rem;
  bottom: 21.92rem;
}
.group_2 {
  opacity: 0.2;
  border-radius: 2rem;
  width: 20.94rem;
  height: 4.38rem;
  border-left: solid 0.031rem #151521;
  border-right: solid 0.031rem #151521;
  border-top: solid 0.031rem #151521;
  border-bottom: solid 0.031rem #151521;
}
.pos_13 {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  top: 30.31rem;
}
.font_3 {
  font-size: 0.94rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.019rem;
  line-height: 0.92rem;
  color: #000000;
}
.pos_16 {
  position: absolute;
  right: 2.28rem;
  bottom: 17.74rem;
}
.image_7 {
  width: 2.5rem;
  height: 2.5rem;
}
.pos_14 {
  position: absolute;
  left: 2.5rem;
  bottom: 17rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.015rem;
  line-height: 0.58rem;
  color: #1a1d25;
}
.text_7 {
  opacity: 0.5;
}
.pos_15 {
  position: absolute;
  left: 5.98rem;
  bottom: 18.74rem;
}
.font_4 {
  font-size: 0.94rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.019rem;
  line-height: 0.72rem;
  color: #151521;
}
.pos_17 {
  position: absolute;
  left: 5.98rem;
  bottom: 17.18rem;
}
.pos_18 {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  top: 35.44rem;
}
.pos_21 {
  position: absolute;
  right: 2.34rem;
  bottom: 12.62rem;
}
.pos_19 {
  position: absolute;
  left: 2.5rem;
  bottom: 11.88rem;
}
.pos_20 {
  position: absolute;
  left: 6rem;
  bottom: 13.62rem;
}
.text_8 {
  line-height: 0.71rem;
}
.pos_22 {
  position: absolute;
  left: 6.02rem;
  bottom: 12.06rem;
}
.pos_23 {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  top: 40.56rem;
}
.pos_26 {
  position: absolute;
  right: 2.66rem;
  bottom: 7.49rem;
}
.pos_24 {
  position: absolute;
  left: 2.5rem;
  bottom: 6.75rem;
}
.text_9 {
  line-height: 0.56rem;
}
.pos_25 {
  position: absolute;
  left: 6rem;
  bottom: 8.5rem;
}
.pos_27 {
  position: absolute;
  left: 6.02rem;
  bottom: 6.93rem;
}
.pos_28 {
  position: absolute;
  left: 1.25rem;
  right: 1.25rem;
  top: 45.69rem;
}
.section_2 {
  background-color: #000000;
  border-radius: 625rem;
  width: 2.5rem;
  height: 2.5rem;
}
.pos_29 {
  position: absolute;
  left: 2.5rem;
  top: 46.63rem;
}
.section_3 {
  padding: 1.13rem 0;
  background-color: #ffffff;
  border-top: solid 0.031rem #15152133;
}
.pos_30 {
  position: absolute;
  left: 0;
  right: 0;
  top: 46.75rem;
}
.equal-division-item {
  width: 1.49rem;
  height: 1.49rem;
}
.image_2 {
  width: 2.94rem;
  height: 2.94rem;
}
.pos {
  position: absolute;
  left: 1.2rem;
  top: 4.95rem;
}
.image_3 {
  border-radius: 50%;
  width: 2.81rem;
  height: 2.81rem;
}
.pos_2 {
  position: absolute;
  right: 1.25rem;
  top: 5rem;
}
.image-wrapper {
  padding: 3.5rem 0;
  border-radius: 0.94rem;
  width: 2.38rem;
  border-left: dotted 0.031rem #000000;
  border-right: dotted 0.031rem #000000;
  border-top: dotted 0.031rem #000000;
  border-bottom: dotted 0.031rem #000000;
}
.pos_7 {
  position: absolute;
  right: 1.25rem;
  top: 14.31rem;
}
.image_6 {
  width: 0.94rem;
  height: 4.44rem;
}
.text {
  color: #151521;
  font-size: 2.19rem;
  font-family: Plus Jakarta Sans;
  line-height: 1.68rem;
  letter-spacing: -0.044rem;
}
.pos_3 {
  position: absolute;
  left: 1.38rem;
  top: 10.28rem;
}
.image_4 {
  width: 1.13rem;
  height: 0.25rem;
}
.pos_4 {
  position: absolute;
  right: 2rem;
  top: 10.94rem;
}
.group {
  border-radius: 1.13rem;
  overflow: hidden;
  width: 17.94rem;
  height: 11.44rem;
}
.pos_5 {
  position: absolute;
  left: 1.25rem;
  top: 14.31rem;
}
.section {
  padding: 2.5rem 3.25rem 1.38rem;
  background-color: #37d6a3;
  border-radius: 1.04rem;
  filter: drop-shadow(0.58rem 2.31rem 1.85rem #10358014);
  overflow: hidden;
  width: 17.94rem;
  height: 11.54rem;
}
.font {
  font-size: 0.75rem;
  font-family: Montserrat;
  line-height: 0.58rem;
  color: #111b21;
}
.text_4 {
  font-size: 0.69rem;
  line-height: 0.62rem;
  opacity: 0.8;
}
.pos_10 {
  position: absolute;
  left: 7.08rem;
  bottom: 1.32rem;
}
.text_5 {
  color: #111b21;
  font-size: 0.69rem;
  font-family: Montserrat;
  font-weight: 600;
  line-height: 0.65rem;
}
.pos_11 {
  position: absolute;
  right: 7.18rem;
  bottom: 1.38rem;
}
.text_2 {
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 0.56rem;
  letter-spacing: -0.015rem;
}
.pos_8 {
  position: absolute;
  left: 50%;
  top: 2.46rem;
  transform: translateX(-50%);
}
.text_3 {
  color: #111b21;
  font-size: 1.25rem;
  font-family: Montserrat;
  line-height: 0.94rem;
  letter-spacing: -0.025rem;
  width: 11.38rem;
}
.pos_9 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.image_5 {
  opacity: 0.7;
  width: 17.94rem;
  height: 11.44rem;
}
.pos_6 {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}