.ml-15 {
  margin-left: 0.94rem;
}
.page {
  background-image: linear-gradient(90deg, #ffb18499 0%, #d79f8199 100%);
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding: 1.56rem 0 18.19rem;
}
.image {
  margin-right: 1.25rem;
  width: 0.56rem;
  height: 1.69rem;
}
.section {
  padding: 1.44rem 1.27rem 8.33rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=27043c55726739d0f3daf5079ad2bae5.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.image_2 {
  width: 0.38rem;
  height: 1.56rem;
}
.image-wrapper {
  padding: 1.28rem 0 1.2rem;
  background-color: #ffffff8f;
  border-radius: 50%;
  width: 3.55rem;
}
.image_3 {
  width: 1.14rem;
  height: 1.37rem;
}
.section_2 {
  padding: 0.63rem 1.21rem 0;
  background-color: #ffffff;
  border-radius: 0.94rem 0.94rem 0rem 0rem;
}
.section_3 {
  background-color: #c4c4c4;
  border-radius: 0.63rem;
  width: 3.75rem;
  height: 0.44rem;
}
.group_2 {
  padding: 0.19rem 0 0.19rem;
}
.group_11 {
  margin-right: 1.04rem;
}
.text {
  color: #2a2a2a;
  font-size: 1.5rem;
  font-family: Inter;
  font-weight: 800;
  line-height: 1.4rem;
}
.text_2 {
  color: #c4c4c4;
  font-size: 1rem;
  font-family: Inter;
  line-height: 1.31rem;
}
.group_3 {
  margin-top: 0.85rem;
}
.section_4 {
  padding: 0.6rem 0.89rem 0.59rem 1rem;
  background-color: #dcf1fe;
  border-radius: 0.31rem;
  height: 2.19rem;
}
.image_4 {
  width: 1rem;
  height: 1rem;
}
.font {
  font-size: 1rem;
  font-family: Inter;
  line-height: 0.78rem;
  font-weight: 700;
  color: #2a2a2a;
}
.text_3 {
  color: #12bef6;
  font-size: 0.98rem;
  line-height: 0.77rem;
}
.section_5 {
  padding: 0.59rem 0.88rem 0.54rem 1rem;
  background-color: #f8e1d2;
  border-radius: 0.31rem;
  height: 2.19rem;
}
.image_5 {
  width: 0.88rem;
  height: 1rem;
}
.text_4 {
  color: #fa7b34;
  font-size: 0.98rem;
  line-height: 0.97rem;
}
.group_1 {
  margin-top: 1.48rem;
}
.text_5 {
  color: #2a2a2a;
  font-size: 1.25rem;
  font-family: Inter;
  font-weight: 700;
  line-height: 0.97rem;
}
.group_4 {
  overflow: hidden;
  height: 17.56rem;
}
.section_6 {
  background-color: #fbe3d4;
  border-radius: 0.94rem;
  width: 4.25rem;
  height: 4.25rem;
}
.group_5 {
  margin-left: 1.36rem;
}
.font_2 {
  font-size: 0.81rem;
  font-family: Inter;
  line-height: 0.62rem;
  color: #c4c4c4;
}
.pos_2 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.image_6 {
  width: 3.13rem;
  height: 3.13rem;
}
.group_6 {
  margin-left: 1.36rem;
}
.pos_3 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.group_7 {
  margin-left: 1.36rem;
}
.pos_4 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.group_8 {
  margin-bottom: -2.88rem;
}
.image-wrapper_2 {
  padding-bottom: 2.88rem;
  background-color: #fbe3d4;
  border-radius: 0.94rem;
  width: 4.25rem;
  height: 4.25rem;
}
.image_7 {
  border-radius: 0.94rem;
  width: 4.25rem;
  height: 1.38rem;
}
.text_6 {
  margin-top: 0.92rem;
}
.image_8 {
  margin-top: 0.44rem;
  width: 3.13rem;
  height: 0.94rem;
}
.section_7 {
  padding: 0.81rem 2.81rem 0.8rem;
  background-color: #ffffff;
  filter: drop-shadow(0rem -0.26rem 0.26rem #0000000d);
}
.image_9 {
  width: 1.5rem;
  height: 1.5rem;
}
.image_10 {
  width: 1.56rem;
  height: 1.56rem;
}
.image_11 {
  width: 1.25rem;
  height: 1.56rem;
}
.image_12 {
  margin-right: 0.12rem;
  width: 1.5rem;
  height: 1.56rem;
}