#burger_menu_ui {
position: absolute;
  top: 47.0443%;
  left: 8.5333%;
  width: 83.2000%;
  height: 40.1478%;
  z-index: 0;
}

#_0_1116 {
position: absolute;
  top: 0.00%;
  left: 0.00%;
  width: 43.91%;
  height: 32.52%;
  z-index: 1;
}

#_0_1128 {
position: absolute;
  top: 7.55%;
  left: 72.26%;
  width: 21.90%;
  height: 28.30%;
  z-index: 2;
}

#_0_1126 {
color: rgba(15,15,15,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.6250rem;
  line-height: 0.7500rem;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 133.96%;
  left: 70.80%;
  width: 23.36%;
  height: 15.09%;
  z-index: 2;
}

#_0_1123 {
color: rgba(15,15,15,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.6250rem;
  line-height: 0.7500rem;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 133.96%;
  left: 14.60%;
  width: 13.87%;
  height: 15.09%;
  z-index: 2;
}

#_0_1131 {
position: absolute;
  top: 0.00%;
  left: 56.09%;
  width: 43.91%;
  height: 32.52%;
  z-index: 1;
}

#_0_1144 {
position: absolute;
  top: 7.55%;
  left: 72.26%;
  width: 21.90%;
  height: 28.30%;
  z-index: 2;
}

#_0_1139 {
color: rgba(15,15,15,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.6250rem;
  line-height: 0.7500rem;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 133.96%;
  left: 14.60%;
  width: 13.87%;
  height: 15.09%;
  z-index: 2;
}

#_0_1142 {
color: rgba(15,15,15,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.6250rem;
  line-height: 0.7500rem;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 133.96%;
  left: 70.80%;
  width: 23.36%;
  height: 15.09%;
  z-index: 2;
}

#_0_1066 {
position: absolute;
  top: 67.48%;
  left: 0.00%;
  width: 43.91%;
  height: 32.52%;
  z-index: 1;
}

#_0_1079 {
position: absolute;
  top: 7.55%;
  left: 72.26%;
  width: 21.90%;
  height: 28.30%;
  z-index: 2;
}

#_0_1050 {
position: absolute;
  top: 67.48%;
  left: 56.09%;
  width: 43.91%;
  height: 32.52%;
  z-index: 1;
}

#_0_1063 {
position: absolute;
  top: 7.55%;
  left: 72.26%;
  width: 21.90%;
  height: 28.30%;
  z-index: 2;
}

#_0_1135 {
color: rgba(15,15,15,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.8750rem;
  line-height: 1.0500rem;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 34.97%;
  left: 56.09%;
  width: 42.95%;
  height: 7.36%;
  z-index: 1;
}

#_0_1127 {
color: rgba(254,140,0,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.8750rem;
  line-height: 1.0500rem;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 50.31%;
  left: 0.00%;
  width: 21.47%;
  height: 7.36%;
  z-index: 1;
}

#_1_108 {
position: absolute;
  top: 43.56%;
  left: 0.00%;
  width: 5.13%;
  height: 4.91%;
  z-index: 1;
}

#_0_1143 {
color: rgba(254,140,0,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.8750rem;
  line-height: 1.0500rem;
  font-weight: 700;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 50.31%;
  left: 56.09%;
  width: 21.47%;
  height: 7.36%;
  z-index: 1;
}

#I0_1141_41_52 {
border: 1.5px solid rgba(0, 0, 0, 1.0);
  border-radius: 0.0000rem 0.0000rem 0.0000rem 0.0000rem;
  position: absolute;
  top: 44.40%;
  left: 82.16%;
  width: 2.99%;
  height: 3.46%;
  z-index: 1;
}

#I0_1138_433_7887 {
border: none;
  border-radius: 0.0312rem;
  background-color: rgba(254, 140, 0, 1.0);
  position: absolute;
  top: 43.56%;
  left: 56.09%;
  width: 5.13%;
  height: 4.91%;
  z-index: 1;
}

#I0_1125_41_52 {
border: 1.5px solid rgba(0, 0, 0, 1.0);
  border-radius: 0.0000rem 0.0000rem 0.0000rem 0.0000rem;
  position: absolute;
  top: 44.40%;
  left: 26.07%;
  width: 2.99%;
  height: 3.46%;
  z-index: 1;
}

#_0_1119 {
color: rgba(15,15,15,1.0);
  background-color: transparent;
  font-family: "Inter", sans-serif;
  font-size: 0.8750rem;
  line-height: 1.0500rem;
  font-weight: 500;
  text-align: center;
  vertical-align: top;
  letter-spacing: 0.0000rem;
  border: none;
  position: absolute;
  top: 34.97%;
  left: 0.00%;
  width: 41.99%;
  height: 7.36%;
  z-index: 1;
}

