.ml-35 {
  margin-left: 2.19rem;
}
.ml-6-5 {
  margin-left: 0.41rem;
}
.page {
  padding-bottom: 11.94rem;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.group_3 {
  margin-top: -4.03rem;
  overflow-x: hidden;
}
.group {
  margin-left: -7.44rem;
  opacity: 0.557;
}
.group_5 {
  margin-top: 5.75rem;
  padding: 1.31rem 0 7.94rem;
  width: 14.22rem;
}
.image {
  border-radius: 1.22rem;
  width: 10.22rem;
  height: 10.22rem;
}
.pos_8 {
  position: absolute;
  right: 0;
  top: 0;
}
.pos_19 {
  position: absolute;
  left: 1.44rem;
  bottom: 0.88rem;
}
.image_6 {
  border-radius: 1.22rem;
  width: 7.16rem;
  height: 7.16rem;
}
.pos_30 {
  position: absolute;
  left: 3.03rem;
  bottom: 0;
}
.group_4 {
  padding: 1.34rem 0 2.88rem;
  width: 20.44rem;
}
.pos {
  position: absolute;
  left: 3.84rem;
  top: 0;
}
.pos_2 {
  position: absolute;
  right: 0;
  top: 1.66rem;
}
.pos_10 {
  position: absolute;
  right: 3.06rem;
  bottom: 0;
}
.section_3 {
  background-color: #f6f5f9;
  width: 23.44rem;
  height: 0.63rem;
}
.pos_31 {
  position: absolute;
  left: 0;
  right: 0;
  top: 19.06rem;
}
.pos_34 {
  position: absolute;
  left: 0;
  right: 0;
  top: 22.84rem;
}
.pos_43 {
  position: absolute;
  left: 0.94rem;
  top: 20.5rem;
}
.text-wrapper_4 {
  padding: 0.38rem 0 0.55rem;
  background-color: #f2f2f2;
  width: 2.38rem;
  height: 1.44rem;
}
.font_3 {
  font-size: 0.69rem;
  font-family: Arial;
  line-height: 0.64rem;
  color: #9b9b9b;
}
.text_17 {
  color: #7f7f7f;
  line-height: 0.5rem;
}
.font_6 {
  font-size: 0.94rem;
  font-family: Arial;
  line-height: 0.87rem;
  color: #4a4a4a;
}
.text_16 {
  color: #2e2e2e;
  line-height: 0.89rem;
}
.text-wrapper_9 {
  padding: 0.9rem 0 0.22rem;
  border-radius: 50%;
  width: 2.13rem;
  border: solid 0.13rem #2e77ff;
}
.pos_25 {
  position: absolute;
  left: 1rem;
  top: 16.06rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: Arial;
  color: #7f7f7f;
}
.text_13 {
  line-height: 0.69rem;
}
.text-wrapper_1 {
  padding: 0.9rem 0 0.22rem;
  border-radius: 50%;
  width: 2.13rem;
  border: solid 0.13rem #2e77ff;
}
.pos_26 {
  position: absolute;
  left: 6.06rem;
  top: 16.06rem;
}
.text_14 {
  line-height: 0.69rem;
}
.image_5 {
  width: 4.59rem;
  height: 2.06rem;
}
.pos_9 {
  position: absolute;
  right: 0.56rem;
  top: 5.78rem;
}
.image_7 {
  width: 4.38rem;
  height: 4.38rem;
}
.pos_11 {
  position: absolute;
  right: 0.94rem;
  top: 8.47rem;
}
.image_8 {
  width: 1.34rem;
  height: 1.34rem;
}
.pos_13 {
  position: absolute;
  left: 5.83rem;
  top: 8.77rem;
}
.text_3 {
  color: #000000;
  font-size: 1.5rem;
  font-family: Arial;
  line-height: 1.39rem;
}
.pos_12 {
  position: absolute;
  left: 1rem;
  top: 8.67rem;
}
.section_2 {
  padding: 0.41rem 0 0.6rem;
  border-radius: 0.94rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=64191fa2054356f8f15b0352c6fc0816.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.38rem;
}
.pos_27 {
  position: absolute;
  right: 0.94rem;
  top: 16.03rem;
}
.text_12 {
  margin-left: 0.95rem;
  color: #ffffff;
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.55rem;
}
.text-wrapper_3 {
  padding-bottom: 0.28rem;
  overflow: hidden;
  width: 2.69rem;
}
.pos_28 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.text_11 {
  margin-left: 1.04rem;
  color: #ffffff;
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.69rem;
}
.text_4 {
  line-height: 1.06rem;
  width: 15.81rem;
}
.pos_14 {
  position: absolute;
  left: 0.95rem;
  top: 10.9rem;
}
.text-wrapper {
  padding: 0.11rem 0 0.22rem;
  background-color: #ffffff;
  border-radius: 0.52rem;
  height: 1.03rem;
  border: solid 0.034rem #cccccc;
}
.pos_16 {
  position: absolute;
  left: 3.03rem;
  top: 13.47rem;
}
.text_7 {
  margin-left: 0.31rem;
  margin-right: 0.28rem;
  line-height: 0.63rem;
}
.text-wrapper_2 {
  padding: 0.1rem 0 0.22rem;
  background-color: #ffffff;
  border-radius: 0.52rem;
  height: 1.03rem;
  border: solid 0.034rem #cccccc;
}
.pos_17 {
  position: absolute;
  left: 6.78rem;
  top: 13.47rem;
}
.text_1 {
  margin-left: 0.31rem;
  margin-right: 0.34rem;
  line-height: 0.64rem;
}
.pos_18 {
  position: absolute;
  right: 6.59rem;
  top: 13.47rem;
}
.text_5 {
  line-height: 0.69rem;
}
.pos_15 {
  position: absolute;
  left: 0.96rem;
  bottom: 11.02rem;
}
.font_4 {
  font-size: 1rem;
  font-family: Arial;
  line-height: 0.73rem;
  color: #2e2e2e;
}
.pos_22 {
  position: absolute;
  left: 6.74rem;
  bottom: 8.66rem;
}
.group_7 {
  line-height: 0.73rem;
}
.pos_24 {
  position: absolute;
  right: 8.85rem;
  bottom: 8.61rem;
}
.font_5 {
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.64rem;
  color: #2e2e2e;
}
.text_15 {
  line-height: 0.69rem;
}
.pos_29 {
  position: absolute;
  right: 10.01rem;
  bottom: 7.45rem;
}
.group_6 {
  line-height: 0.72rem;
}
.pos_20 {
  position: absolute;
  left: 1.07rem;
  bottom: 8.61rem;
}
.text_10 {
  line-height: 0.72rem;
}
.section {
  background-color: #dedede;
  width: 0.031rem;
  height: 2rem;
}
.pos_21 {
  position: absolute;
  left: 4.7rem;
  top: 15.84rem;
}
.pos_23 {
  position: absolute;
  left: 10.2rem;
  top: 15.84rem;
}
.pos_3 {
  position: absolute;
  left: 0.41rem;
  right: 0.34rem;
  top: 0.52rem;
}
.image_4 {
  width: 2.09rem;
  height: 0.34rem;
}
.image_2 {
  margin-left: 0.28rem;
  width: 0.75rem;
  height: 0.56rem;
}
.text {
  margin-left: 6.76rem;
  color: #4a4a4a;
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.69rem;
}
.font {
  margin-left: 6.09rem;
  color: #4a4a4a;
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.57rem;
}
.image_3 {
  margin-left: 0.28rem;
  width: 1.53rem;
  height: 0.59rem;
}
.section_6 {
  margin: 7.14rem 0.91rem 0 0.97rem;
  background-color: #ffffff;
  height: 1.41rem;
}
.pos_44 {
  position: absolute;
  left: 0;
  right: 0;
  top: 19.41rem;
}
.section_4 {
  padding-bottom: 0.19rem;
  background-color: #ffffff;
  border-top: solid 0.031rem #ebebeb;
  border-bottom: solid 0.031rem #ebebeb;
}
.group_8 {
  padding: 0.68rem 1.33rem 0.77rem;
}
.text_18 {
  color: #2e77ff;
  line-height: 0.87rem;
}
.font_7 {
  font-size: 0.94rem;
  font-family: Arial;
  line-height: 0.87rem;
  color: #9b9b9b;
}
.text_19 {
  line-height: 0.88rem;
}
.section_5 {
  background-color: #2e77ff;
  height: 0.25rem;
}
.pos_1 {
  position: absolute;
  left: 0.94rem;
  right: 20rem;
  top: 2.28rem;
}
.text_23 {
  margin: 5.97rem 0.55rem 0 0.98rem;
  line-height: 1.41rem;
  text-align: justify;
}
.image-wrapper {
  opacity: 0.851;
  background-color: #d7d7d7;
  border-radius: 0.19rem;
}
.pos_36 {
  position: absolute;
  left: 0.97rem;
  right: 0.91rem;
  top: 4rem;
}
.image_9 {
  width: 92vw;
  height: 22vw;
}
.text_22 {
  color: #2e2e2e;
  font-size: 1.06rem;
  font-family: Arial;
  line-height: 1.01rem;
}
.pos_35 {
  position: absolute;
  left: 0.99rem;
  top: 6.76rem;
}
.pos_33 {
  position: absolute;
  left: 0.81rem;
  right: 0.66rem;
  top: 4.38rem;
}
.group_9 {
  padding-bottom: 0.26rem;
  overflow: hidden;
  width: 3.25rem;
  height: 0.88rem;
}
.font_8 {
  font-size: 0.63rem;
  font-family: Arial;
  color: #9b9b9b;
}
.text_21 {
  line-height: 0.46rem;
}
.text_20 {
  line-height: 0.58rem;
}
.image_10 {
  width: 2.19rem;
  height: 2.06rem;
}
.group_1 {
  margin: 0.5rem 0.91rem 0 0.97rem;
}
.section_7 {
  background-color: #ebebeb;
  height: 9rem;
}
.pos_37 {
  position: absolute;
  left: 0;
  right: 0;
  top: 39.19rem;
}
.section_8 {
  padding: 0.16rem 0 0.22rem;
  flex: 1 1 11.72rem;
  filter: drop-shadow(0rem -0.031rem 0.16rem #c2c2c280);
  background-color: #f9f9f9;
  height: 2.5rem;
  border: solid 0.031rem #cccccc;
}
.text-wrapper_6 {
  padding: 0.32rem 0 0.64rem;
  border-radius: 50%;
  border: solid 0.13rem #2e77ff;
}
.text_24 {
  line-height: 0.85rem;
}
.text-wrapper_5 {
  padding: 0.58rem 0 0.99rem;
  flex: 1 1 11.72rem;
  filter: drop-shadow(0rem -0.031rem 0.16rem #c2c2c280);
  background-color: #f9f9f9;
  height: 2.5rem;
  border: solid 0.031rem #cccccc;
}