.ml-15 {
  margin-left: 0.94rem;
}
.ml-9 {
  margin-left: 0.56rem;
}
.mt-27 {
  margin-top: 1.69rem;
}
.page {
  padding-top: 4.38rem;
  background-color: #ffffff;
  border-radius: 1.25rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding: 0 1.25rem;
}
.image {
  width: 1.81rem;
  height: 1.81rem;
}
.text {
  color: #000000;
  font-size: 1.38rem;
  font-family: Gilroy;
  font-weight: 600;
  line-height: 1rem;
}
.group_2 {
  margin-right: 0.75rem;
}
.font {
  font-size: 1rem;
  font-family: Gilroy;
  line-height: 0.74rem;
  font-weight: 600;
}
.text_2 {
  color: #000000;
  line-height: 0.7rem;
}
.text_3 {
  color: #000000;
  font-size: 1rem;
  font-family: Gilroy;
  line-height: 0.9rem;
}
.section {
  margin: 1.63rem 1.19rem 0 0.88rem;
  padding: 0.63rem 0.75rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  filter: drop-shadow(0rem 0.25rem 0.63rem #00000014);
}
.image-wrapper {
  padding: 0.38rem 0;
  background-color: #f9f9f9;
  width: 6.25rem;
  height: 7.5rem;
}
.image_2 {
  width: 3.75rem;
  height: 6.75rem;
}
.text_4 {
  color: #212121;
}
.image_3 {
  width: 1rem;
  height: 1rem;
}
.font_2 {
  font-size: 0.88rem;
  font-family: Gilroy;
  line-height: 0.62rem;
  color: #717171;
}
.text_5 {
  color: #333333;
  letter-spacing: -0.026rem;
}
.font_3 {
  font-size: 1.13rem;
  font-family: Gilroy;
  font-weight: 600;
  color: #212121;
}
.text_6 {
  line-height: 1.01rem;
}
.text_7 {
  line-height: 0.8rem;
}
.section_2 {
  padding-left: 0.75rem;
  padding-right: 0.63rem;
  background-color: #ffffff;
  border-radius: 0.5rem;
  height: 1.75rem;
  border-left: solid 0.063rem #d9d9d9;
  border-right: solid 0.063rem #d9d9d9;
  border-top: solid 0.063rem #d9d9d9;
  border-bottom: solid 0.063rem #d9d9d9;
}
.section_3 {
  background-color: #9c4400;
  width: 0.71rem;
  height: 0.13rem;
}
.text-wrapper {
  padding: 0.38rem 0 0.25rem;
  border-radius: 0.25rem;
  width: 2.25rem;
  height: 1.5rem;
  border-left: solid 0.063rem #d9d9d9;
  border-right: solid 0.063rem #d9d9d9;
  border-top: solid 0.063rem #d9d9d9;
  border-bottom: solid 0.063rem #d9d9d9;
}
.font_4 {
  font-size: 1rem;
  font-family: Gilroy;
  line-height: 0.74rem;
  color: #000000;
}
.text_8 {
  font-weight: 700;
  line-height: 0.73rem;
}
.image_4 {
  margin-left: 0.19rem;
  width: 0.75rem;
  height: 0.75rem;
}
.group_3 {
  margin-top: 22.75rem;
  padding: 0 1.75rem;
}
.text_9 {
  color: #242424;
  font-size: 1rem;
  font-family: Gilroy;
  line-height: 0.71rem;
}
.text_10 {
  color: #000000;
  line-height: 0.82rem;
}
.text_11 {
  color: #242424;
  font-size: 1rem;
  font-family: Gilroy;
  font-weight: 600;
  line-height: 0.9rem;
}
.text_12 {
  color: #242424;
  line-height: 0.71rem;
}
.section_4 {
  margin-top: 2.25rem;
  padding: 0.88rem 0 1.75rem;
  background-color: #ffffff;
  overflow: hidden;
  border-top: solid 0.063rem #d9d9d9;
}
.equal-division {
  margin: 0 1.38rem;
}
.group_4 {
  flex: 1 1 5.16rem;
}
.equal-division-item {
  padding: 0.38rem 0;
}
.image_5 {
  width: 1.75rem;
  height: 1.69rem;
}
.text_15 {
  color: #9c4400;
  line-height: 0.62rem;
}
.text_13 {
  line-height: 0.63rem;
}
.text_14 {
  line-height: 0.65rem;
}