.ml-19-5 {
  margin-left: 1.22rem;
}
.mt-9 {
  margin-top: 0.56rem;
}
.page {
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group_1 {
  padding: 29.75rem 0 3rem;
}
.image_21 {
  width: 2.81rem;
  height: 1.66rem;
}
.image_37 {
  margin-left: -0.5rem;
}
.image_34 {
  margin-left: -4.31rem;
  margin-top: 3.06rem;
  opacity: 0.108;
  mix-blend-mode: MULTIPLY;
  width: 8.91rem;
  height: 4.22rem;
}
.pos_24 {
  position: absolute;
  left: -1.91rem;
  bottom: 10.72rem;
}
.image {
  filter: blur(0.085rem);
  width: 100vw;
  height: 177.8667vw;
}
.pos {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
.pos_22 {
  position: absolute;
  left: 0.53rem;
  bottom: 11.69rem;
}
.image_33 {
  width: 1.28rem;
  height: 0.75rem;
}
.pos_41 {
  position: absolute;
  right: 5.9rem;
  bottom: 6.61rem;
}
.image_22 {
  width: 2.97rem;
  height: 1.75rem;
}
.pos_23 {
  position: absolute;
  right: -2.28rem;
  bottom: 11.38rem;
}
.pos_28 {
  position: absolute;
  right: -1.19rem;
  bottom: 9.88rem;
}
.image_9 {
  width: 0.44rem;
  height: 0.38rem;
}
.pos_10 {
  position: absolute;
  right: 0.72rem;
  top: 3.78rem;
}
.image_11 {
  width: 0.97rem;
  height: 0.97rem;
}
.pos_13 {
  position: absolute;
  left: 2.28rem;
  top: 4.15rem;
}
.image_10 {
  width: 1.31rem;
  height: 1.06rem;
}
.pos_12 {
  position: absolute;
  right: 2.29rem;
  top: 3.97rem;
}
.image_12 {
  width: 0.84rem;
  height: 0.44rem;
}
.pos_14 {
  position: absolute;
  left: 1.1rem;
  top: 5.57rem;
}
.image_13 {
  width: 0.72rem;
  height: 0.53rem;
}
.pos_16 {
  position: absolute;
  right: 0.84rem;
  top: 5.53rem;
}
.pos_26 {
  position: absolute;
  right: 0.31rem;
  bottom: 10.34rem;
}
.section_11 {
  background-color: #e676008b;
  border-radius: 50%;
  width: 0.72rem;
  height: 0.31rem;
}
.pos_50 {
  position: absolute;
  left: 2.5rem;
  top: 34.72rem;
}
.image_26 {
  border-radius: 0rem 0rem 3.13rem 3.13rem;
  width: 0.25rem;
  height: 2.69rem;
}
.pos_30 {
  position: absolute;
  left: 2.72rem;
  bottom: 6.78rem;
}
.section_7 {
  background-image: radial-gradient(72.5% 63.2% at 65% 34.4%, #2deb9c 0%, #1d999c 100%);
  border-radius: 50%;
  width: 1.81rem;
  height: 1.81rem;
}
.pos_51 {
  position: absolute;
  left: 1.97rem;
  top: 31.78rem;
}
.image_30 {
  width: 1rem;
  height: 0.5rem;
}
.pos_37 {
  position: absolute;
  left: 2.84rem;
  bottom: 7.5rem;
}
.section_10 {
  background-image: radial-gradient(72.5% 63.2% at 71.5% 27.1%, #25dd90 0%, #1d999c 100%);
  border-radius: 50%;
  width: 0.72rem;
  height: 0.72rem;
}
.pos_49 {
  position: absolute;
  left: 3.5rem;
  top: 33.22rem;
}
.image_32 {
  width: 0.66rem;
  height: 0.47rem;
}
.pos_39 {
  position: absolute;
  left: 6.83rem;
  bottom: 6.9rem;
}
.image_35 {
  width: 1.16rem;
  height: 0.81rem;
}
.pos_42 {
  position: absolute;
  left: 1.13rem;
  bottom: 5.23rem;
}
.image_31 {
  border-radius: 0rem 0rem 3.13rem 3.13rem;
  width: 0.25rem;
  height: 2.38rem;
}
.pos_38 {
  position: absolute;
  right: 1.94rem;
  bottom: 5.13rem;
}
.pos_45 {
  position: absolute;
  right: 1.69rem;
  top: 36.38rem;
}
.image_25 {
  opacity: 0.624;
  width: 100vw;
  height: 43.8333vw;
}
.pos_29 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.group_6 {
  padding: 5.13rem 0.75rem 4.57rem;
}
.pos_1 {
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.image-wrapper {
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=85d39ac9c3481d70d9a579e6d2359210.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.image_14 {
  width: 93.6vw;
  height: 95.7333vw;
}
.section_8 {
  margin-top: 0.71rem;
  background-color: #e2791980;
  border-radius: 0.44rem;
  mix-blend-mode: MULTIPLY;
  filter: blur(0.13rem);
  width: 15.17rem;
  height: 0.67rem;
}
.section_9 {
  background-color: #e2791999;
  border-radius: 0.44rem;
  mix-blend-mode: MULTIPLY;
  filter: blur(0.13rem);
  width: 21.85rem;
  height: 0.67rem;
}
.pos_33 {
  position: absolute;
  left: 0.68rem;
  right: 0.91rem;
  top: 28.55rem;
}
.image_27 {
  opacity: 0.5;
  mix-blend-mode: MULTIPLY;
  filter: blur(0.079rem);
  width: 100vw;
  height: 20.1333vw;
}
.pos_34 {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}
.image_29 {
  opacity: 0.5;
  mix-blend-mode: MULTIPLY;
  filter: blur(0.079rem);
  width: 2.88rem;
  height: 0.69rem;
}
.pos_36 {
  position: absolute;
  right: 1.91rem;
  bottom: 4rem;
}
.image_28 {
  opacity: 0.4;
  mix-blend-mode: MULTIPLY;
  filter: blur(0.085rem);
  width: 3.06rem;
  height: 0.69rem;
}
.pos_35 {
  position: absolute;
  left: 1.39rem;
  bottom: 3.97rem;
}
.image_24 {
  width: 96.8vw;
  height: 16.2667vw;
}
.pos_25 {
  position: absolute;
  left: 0.37rem;
  right: 0.38rem;
  bottom: 4.18rem;
}
.section {
  padding: 1.6rem 0 4.16rem;
  filter: drop-shadow(0rem 0.16rem 0.094rem #bd570080);
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=770f43c62198bd792fda084d4c0fbad3.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_11 {
  position: absolute;
  left: 0.22rem;
  right: 0.22rem;
  top: 0;
}
.font {
  font-size: 1.88rem;
  font-family: Arial;
  letter-spacing: 0.088rem;
  line-height: 1.74rem;
}
.text_4 {
  color: #e85800;
}
.text_3 {
  color: #ffffff;
}
.pos_15 {
  position: absolute;
  left: 50%;
  top: 1.51rem;
  transform: translateX(-50%);
}
.font_4 {
  font-size: 0.69rem;
  font-family: Arial;
  line-height: 0.64rem;
  color: #888888;
}
.text_11 {
  color: #bf7100;
  line-height: 0.66rem;
  width: 17.22rem;
}
.pos_46 {
  position: absolute;
  left: 50%;
  bottom: 1.83rem;
  transform: translateX(-50%);
}
.list {
  padding-top: 0.92rem;
  background-color: #fff9e9;
  border-radius: 0.59rem 0.44rem 0rem 0rem;
}
.pos_18 {
  position: absolute;
  left: 1.41rem;
  right: 1.41rem;
  top: 50%;
  transform: translateY(-50%);
}
.list-item {
  padding: 0.94rem 0.72rem;
  border-bottom: solid 0.31rem #f6eddc;
}
.image-wrapper_2 {
  padding: 0.71rem 0 0.64rem;
  background-image: linear-gradient(162.4deg, #fff5c91c -26%, #ffeba287 88%);
  border-radius: 50%;
  width: 3.78rem;
  height: 3.78rem;
}
.image_15 {
  width: 1.82rem;
  height: 2.43rem;
}
.font_2 {
  font-size: 0.94rem;
  font-family: Arial;
  line-height: 0.87rem;
  color: #4a4a4a;
}
.text_5 {
  line-height: 0.86rem;
}
.group_3 {
  padding: 0.19rem 0 0.27rem;
  border-radius: 9.38rem;
  width: 5.13rem;
  height: 2.5rem;
  border: solid 0.034rem #ffcda8;
}
.section_3 {
  margin-left: 0.22rem;
  margin-right: 0.26rem;
  background-image: linear-gradient(147.3deg, #ff9e00 -6.2%, #f45200 99.2%);
  border-radius: 9.38rem;
  width: 4.58rem;
}
.section_4 {
  padding: 0.12rem 0 0.067rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=08083836337ab5443b9e035976a8930d.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.59rem;
}
.image_16 {
  width: 2.03rem;
  height: 1.78rem;
}
.image_17 {
  margin-left: 0.23rem;
}
.font_3 {
  font-size: 0.75rem;
  font-family: Arial;
  letter-spacing: 0.035rem;
  line-height: 0.7rem;
  color: #fff7dd;
}
.text_6 {
  width: 3.16rem;
}
.pos_19 {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.group {
  padding: 0.086rem 0 0.44rem;
  overflow: hidden;
}
.pos_8 {
  position: absolute;
  left: 0.94rem;
  right: 1rem;
  top: 1.84rem;
}
.group_2 {
  padding: 0.12rem 0 0.18rem;
  overflow: hidden;
  width: 2.81rem;
}
.pos_9 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.image_8 {
  width: 0.59rem;
  height: 1.03rem;
}
.text_2 {
  color: #ffffff;
  font-size: 1rem;
  font-family: Arial;
  line-height: 0.9rem;
}
.text {
  color: #ffffff;
  font-size: 1.13rem;
  font-family: Arial;
  line-height: 1.03rem;
}
.pos_2 {
  position: absolute;
  left: 0.38rem;
  right: 0.3rem;
  top: 0.25rem;
}
.image_7 {
  width: 2.13rem;
  height: 0.34rem;
}
.image_3 {
  margin-left: 0.31rem;
  width: 0.72rem;
  height: 0.59rem;
}
.image_4 {
  margin-left: 6.85rem;
  width: 2.72rem;
  height: 0.56rem;
}
.image_2 {
  margin-left: 5.96rem;
  opacity: 0.45;
  width: 0.5rem;
  height: 0.88rem;
}
.image_5 {
  margin-left: 0.45rem;
  width: 1.5rem;
  height: 0.56rem;
}
.image_6 {
  margin-left: 0.099rem;
  width: 1.53rem;
  height: 0.63rem;
}