.ml-7-5 {
  margin-left: 0.47rem;
}
.mt-11 {
  margin-top: 0.69rem;
}
.ml-19-5 {
  margin-left: 1.22rem;
}
.ml-5 {
  margin-left: 0.31rem;
}
.ml-6-5 {
  margin-left: 0.41rem;
}
.page {
  padding-top: 2.5rem;
  background-color: #ffffff;
  height: 100%;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}
.section_2 {
  background-color: #fff7c8;
}
.group_5 {
  padding: 1.47rem 0 1.81rem;
}
.group_6 {
  height: 12.31rem;
}
.text-wrapper_2 {
  padding: 0.13rem 0 0.31rem;
  background-color: #e6e6e6;
}
.text_5 {
  color: #f5a623;
  font-size: 0.63rem;
  font-family: Arial;
  line-height: 0.75rem;
}
.group_7 {
  padding: 0 1.06rem;
}
.image_8 {
  width: 0.66rem;
  height: 0.69rem;
}
.image_9 {
  margin-right: 2.06rem;
  width: 0.78rem;
  height: 0.75rem;
}
.group_8 {
  margin-top: -0.31rem;
  padding: 0 2.44rem;
}
.group_9 {
  padding: 2.25rem 0 0.44rem;
  width: 7.78rem;
}
.section_3 {
  padding-bottom: 0.25rem;
  background-color: #00000000;
  width: 3.81rem;
}
.section_4 {
  padding: 0.56rem 0 0.38rem;
  background-color: #00000000;
  width: 3.22rem;
}
.image-wrapper {
  padding: 0.56rem 0 1.94rem;
  background-color: #00000000;
  width: 2.63rem;
}
.image_12 {
  margin-right: 0.25rem;
  width: 1.35rem;
  height: 1.67rem;
}
.pos_10 {
  position: absolute;
  right: 0.15rem;
  top: 2.25rem;
}
.section_5 {
  background-color: #00000000;
  width: 2.63rem;
  height: 4.19rem;
}
.image_10 {
  width: 6.84rem;
  height: 8rem;
}
.pos_8 {
  position: absolute;
  right: 0;
  bottom: 0;
}
.image_11 {
  width: 1.88rem;
  height: 1.88rem;
}
.pos_9 {
  position: absolute;
  right: 2.44rem;
  top: 1.49rem;
}
.group_10 {
  margin-top: -2.94rem;
  padding: 0 0.5rem;
}
.image_13 {
  margin-top: 1.81rem;
  width: 0.81rem;
  height: 0.75rem;
}
.text-wrapper_3 {
  margin-left: 1.31rem;
  padding: 0.25rem 0 3.06rem;
  background-color: #dd4d26;
  border-radius: 0.25rem;
  height: 5.41rem;
}
.text_6 {
  margin-left: 1.31rem;
  margin-right: 1rem;
  color: #ffffff;
  font-size: 2.25rem;
  font-family: Arial;
  line-height: 2.07rem;
  text-shadow: 0rem 0.19rem 0.28rem #00000080;
}
.image_14 {
  margin-left: 0.94rem;
  width: 0.72rem;
  height: 0.59rem;
}
.image_15 {
  margin-left: -21.31rem;
  margin-top: 3.03rem;
  width: 0.66rem;
  height: 0.63rem;
}
.group_11 {
  padding: 0 0.88rem;
}
.group_12 {
  padding-top: 6.94rem;
}
.text-wrapper_5 {
  margin: 0 0.94rem;
  padding: 2.31rem 0 0.13rem;
  background-color: #dd4d26;
  border-radius: 0.063rem;
}
.font_4 {
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.71rem;
}
.text_8 {
  color: #ffffff;
}
.section_6 {
  padding: 2rem 0.31rem 2.81rem 2.91rem;
  background-color: #ffffff;
  border-radius: 0.81rem;
  width: 18.22rem;
  border-left: solid 0.031rem #979797;
  border-right: solid 0.031rem #979797;
  border-top: solid 0.031rem #979797;
  border-bottom: solid 0.031rem #979797;
}
.pos_11 {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
}
.text-wrapper_4 {
  padding: 0.75rem 0 1.25rem;
  background-color: #cfcfcf;
  border-radius: 0.81rem;
  width: 12.5rem;
  height: 3.13rem;
  border-left: solid 0.031rem #979797;
  border-right: solid 0.031rem #979797;
  border-top: solid 0.031rem #979797;
  border-bottom: solid 0.031rem #979797;
}
.font_3 {
  font-size: 1.13rem;
  font-family: Arial;
  line-height: 1.04rem;
}
.text_7 {
  color: #9b9b9b;
  line-height: 1.04rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.91rem;
  color: #9b9b9b;
}
.section_8 {
  margin-right: 0.13rem;
  margin-top: -0.19rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=470865c3761732a860f9902c455c4734.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 7.22rem;
}
.section_7 {
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=83ccfab2b5b0be95ac18749a33aef9b5.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 21.91rem;
}
.image_16 {
  opacity: 0.4;
  width: 93.4667vw;
  height: 31.2vw;
}
.equal-division {
  position: absolute;
  left: 0.94rem;
  right: 0.72rem;
  top: 0.81rem;
}
.equal-division-item {
  position: relative;
}
.section_9 {
  padding: 0.31rem 0;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=31439e9872c543ab60374ca494c2184d.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.75rem;
  height: 5.25rem;
}
.image-wrapper_2 {
  padding: 2.09rem 0 0.41rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=96858afb82ff85286daeba3a1f072bbc.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.09rem;
}
.image_21 {
  width: 3.5rem;
  height: 2.09rem;
}
.image_17 {
  opacity: 0.6;
  mix-blend-mode: SOFT_LIGHT;
  width: 2.94rem;
  height: 5.25rem;
}
.pos_12 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.equal-division-item_2 {
  padding: 0.31rem 0;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=cbaa3f6b3827dafe22effe4c9e14d7b8.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.72rem;
  height: 5.25rem;
}
.image-wrapper_3 {
  padding: 2.13rem 0 0.38rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=e10c56ffd99f9f328bb04d714bdcf072.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.06rem;
}
.image_18 {
  opacity: 0.6;
  mix-blend-mode: SOFT_LIGHT;
  width: 2.88rem;
  height: 5.25rem;
}
.pos_13 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.image-wrapper_4 {
  padding: 2.09rem 0 0.41rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=e10c56ffd99f9f328bb04d714bdcf072.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.06rem;
}
.image_19 {
  opacity: 0.6;
  mix-blend-mode: SOFT_LIGHT;
  width: 2.91rem;
  height: 5.25rem;
}
.pos_14 {
  position: absolute;
  left: 0;
  bottom: 0;
}
.equal-division-item_3 {
  padding: 0.13rem 0;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=42f087faff6332cf049bb535040d37d8.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.69rem;
  height: 5.22rem;
}
.section_11 {
  margin: 0 0.13rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=31e3bccaa7ac65e0183569ce7231cb0c.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.44rem;
  height: 4.97rem;
}
.section_10 {
  padding: 0.63rem 0.56rem 0.81rem 0.75rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=ef738d289e2b0a45872b541b1b2ed2e1.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 4.47rem;
}
.image_20 {
  width: 2.03rem;
  height: 2.03rem;
}
.text_10 {
  color: #ff5a14;
  line-height: 0.69rem;
}
.group_13 {
  width: 1.39rem;
}
.text_9 {
  margin-left: 0.81rem;
  color: #ff5a14;
  font-size: 1.13rem;
  font-family: Arial;
  line-height: 0.81rem;
}
.text_11 {
  margin-left: -1.38rem;
  color: #ff5a14;
  font-size: 1rem;
  font-family: Arial;
  line-height: 0.72rem;
}
.text-wrapper_6 {
  padding: 0.81rem 0 0.94rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=5ef74842fc090fbfb372eebadfc10c27.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 14.38rem;
}
.text_12 {
  color: #feffd8;
  letter-spacing: 0.063rem;
}
.section_12 {
  margin-top: 2.13rem;
  padding: 0.94rem 0 1.25rem;
  background-color: #dd4d26;
  border-radius: 1.25rem 1.25rem 0 0;
  width: 19.06rem;
}
.image_22 {
  opacity: 0.3;
  width: 0.31rem;
  height: 0.44rem;
}
.image_23 {
  margin-left: 6.41rem;
}
.text_13 {
  color: #f5e2e5;
  font-size: 0.81rem;
  font-family: Arial;
  line-height: 0.75rem;
}
.image_24 {
  margin-right: 6.41rem;
}
.section {
  padding: 0.31rem 0.38rem 0.75rem;
  background-color: #ffffff;
  box-shadow: 0rem -0.031rem 0rem #00000033 inset;
}
.pos {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
}
.group {
  padding-bottom: 0.19rem;
}
.pos_2 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.image_3 {
  width: 2.09rem;
  height: 0.34rem;
}
.font {
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.55rem;
  color: #030303;
}
.text {
  line-height: 0.69rem;
}
.image {
  width: 0.81rem;
  height: 0.56rem;
}
.pos_3 {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
.text_2 {
  line-height: 0.57rem;
}
.image_2 {
  width: 1.53rem;
  height: 0.59rem;
}
.group_2 {
  padding: 0.38rem 0 0.19rem 0.5rem;
}
.image_4 {
  width: 0.66rem;
  height: 1.13rem;
}
.pos_6 {
  position: absolute;
  left: 0.52rem;
  bottom: 0;
}
.text_4 {
  color: #051b28;
  font-size: 0.94rem;
  font-family: Arial;
  line-height: 0.86rem;
}
.group_3 {
  width: 1.55rem;
}
.pos_4 {
  position: absolute;
  right: 0.063rem;
  top: 50%;
  transform: translateY(-50%);
}
.group_4 {
  padding: 0.56rem 0 0.19rem;
}
.image_6 {
  width: 0.91rem;
  height: 0.53rem;
}
.image_5 {
  width: 1.03rem;
  height: 0.84rem;
}
.pos_7 {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
}
.text-wrapper {
  padding: 0.063rem 0 0.31rem;
  background-color: #ff4433;
  border-radius: 1.78rem;
  width: 1.02rem;
  border-left: solid 0.031rem #ffffff;
  border-right: solid 0.031rem #ffffff;
  border-top: solid 0.031rem #ffffff;
  border-bottom: solid 0.031rem #ffffff;
}
.pos_5 {
  position: absolute;
  right: 0;
  top: 0;
}
.text_3 {
  color: #ffffff;
  font-size: 0.44rem;
  font-family: Arial;
  line-height: 0.32rem;
}
.divider {
  padding: 0 0.25rem;
}
.image_7 {
  width: 0.13rem;
  height: 0.13rem;
}