.ml-104 {
  margin-left: 6.5rem;
}
.mt-7 {
  margin-top: 0.44rem;
}
.mt-15 {
  margin-top: 0.94rem;
}
.mt-9 {
  margin-top: 0.56rem;
}
.ml-7 {
  margin-left: 0.44rem;
}
.page {
  padding: 3.98rem 0 2.06rem;
  background-color: #fefefe;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  margin-left: 0.94rem;
  margin-right: 0.94rem;
}
.image {
  width: 0.56rem;
  height: 1rem;
}
.font {
  font-size: 1.25rem;
  font-family: Noto Sans JP;
  color: #1e1e1e;
}
.text {
  margin-top: 0.079rem;
  line-height: 0.95rem;
}
.section {
  margin: 1.79rem 1rem 0 1rem;
  padding: 0.89rem 0.8rem 0.73rem 1.04rem;
  background-color: #fafafa;
  border-radius: 0.5rem;
  border: solid 0.063rem #f1f1f1;
}
.font_2 {
  font-size: 0.88rem;
  font-family: Noto Sans JP;
  line-height: 0.86rem;
  color: #1e1e1e;
}
.text_2 {
  color: #79767c;
  line-height: 0.93rem;
}
.image_2 {
  width: 1.25rem;
  height: 1.25rem;
}
.group_1 {
  margin-top: 1.5rem;
}
.group_2 {
  margin-left: 0.94rem;
  margin-right: 0.94rem;
  padding-left: 0.13rem;
}
.text-wrapper {
  padding: 0.46rem 0 0.56rem;
  background-color: #44158f;
  border-radius: 1.25rem;
  width: 2.69rem;
  height: 1.75rem;
}
.font_3 {
  font-size: 1rem;
  font-family: Inter;
  color: #79767c;
}
.text_3 {
  color: #ffffff;
  line-height: 0.73rem;
}
.text-wrapper_2 {
  padding: 0.45rem 0 0.43rem;
  background-color: #fafafa;
  border-radius: 1.25rem;
  width: 6rem;
  height: 1.75rem;
  border: solid 0.063rem #f1f1f1;
}
.text_4 {
  line-height: 0.75rem;
}
.text-wrapper_3 {
  padding: 0.45rem 0 0.23rem;
  background-color: #fafafa;
  border-radius: 1.25rem;
  width: 6rem;
  height: 1.75rem;
  border: solid 0.063rem #f1f1f1;
}
.text_5 {
  line-height: 0.94rem;
}
.text-wrapper_4 {
  padding: 0.44rem 0 0.22rem;
  background-color: #fafafa;
  border-radius: 1.25rem;
  width: 5.94rem;
  height: 1.75rem;
  border: solid 0.063rem #f1f1f1;
}
.text_6 {
  line-height: 0.97rem;
}
.group_3 {
  margin: 2.02rem 0.94rem 0 0.94rem;
}
.text_7 {
  margin-left: 0.18rem;
  line-height: 0.94rem;
}
.image_3 {
  border-radius: 0.5rem;
  width: 3rem;
  height: 3rem;
}
.font_4 {
  font-size: 1rem;
  font-family: Noto Sans JP;
  line-height: 0.86rem;
  color: #1e1e1e;
}
.text_8 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}
.font_5 {
  font-size: 0.88rem;
  font-family: Fira Sans Condensed;
  line-height: 0.86rem;
  color: #3d3d3d;
}
.group_4 {
  margin-top: 0.88rem;
  padding: 2rem 1rem 0.88rem;
  border-top: solid 0.063rem #dedede66;
  border-bottom: solid 0.063rem #dedede66;
}
.text_9 {
  margin-left: 0.07rem;
  line-height: 1.01rem;
}
.font_6 {
  font-size: 0.88rem;
  font-family: Noto Sans JP;
  line-height: 0.25rem;
  color: #1e1e1e;
}
.text_10 {
  opacity: 0.6;
}
.text_1 {
  line-height: 0.89rem;
}
.text_23 {
  line-height: 0.83rem;
}
.text_24 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}
.text_25 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}
.group_5 {
  padding: 1.94rem 1rem 0.94rem;
}
.text_15 {
  line-height: 1.27rem;
}
.group_6 {
  margin-top: 0.53rem;
}
.text_11 {
  line-height: 0.89rem;
}
.text_12 {
  line-height: 0.83rem;
}
.group_7 {
  margin-top: 1.05rem;
}
.text_13 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}
.text_14 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}
.text_16 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}
.text_17 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}
.text_18 {
  margin-left: 0.077rem;
  line-height: 0.81rem;
}