.ml-136 {
  margin-left: 8.5rem;
}
.ml-8-5 {
  margin-left: 0.53rem;
}
.mt-7 {
  margin-top: 0.44rem;
}
.ml-10-5 {
  margin-left: 0.66rem;
}
.ml-13 {
  margin-left: 0.81rem;
}
.ml-6-5 {
  margin-left: 0.41rem;
}
.ml-4-5 {
  margin-left: 0.28rem;
}
.page {
  padding-top: 1.06rem;
  background-color: #f2f2f2;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.group {
  padding-left: 2.19rem;
  padding-right: 0.94rem;
}
.group_2 {
  line-height: 0.64rem;
  height: 0.64rem;
}
.font {
  font-size: 0.88rem;
  font-family: Roboto;
  line-height: 0.64rem;
  color: #333333;
}
.text {
  word-break: break-all;
}
.text_2 {
  letter-spacing: -0.018rem;
}
.text_3 {
  line-height: 0.63rem;
}
.image {
  width: 4.13rem;
  height: 0.71rem;
}
.group_3 {
  margin-top: 1.5rem;
  padding: 0 0.88rem;
}
.image_2 {
  margin-top: 0.063rem;
  width: 0.53rem;
  height: 1rem;
}
.text_4 {
  color: #333333;
  font-size: 1.13rem;
  font-family: Arial;
  line-height: 1.04rem;
}
.group_4 {
  padding: 0 0.75rem;
}
.view {
  margin-top: 1.34rem;
}
.section {
  background-color: #ffffff;
  border-radius: 0.75rem;
}
.group_5 {
  padding: 0.88rem 0.75rem 1.75rem;
}
.image_3 {
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
}
.font_2 {
  font-size: 0.75rem;
  font-family: Arial;
  color: #333333;
}
.text_5 {
  line-height: 0.79rem;
}
.image_4 {
  border-radius: 0.19rem;
  width: 5.75rem;
  height: 5.75rem;
}
.group_6 {
  margin-left: 0.75rem;
  width: 10rem;
}
.text_6 {
  line-height: 1.06rem;
}
.text-wrapper {
  padding: 0.063rem 0;
  background-color: #fff1eb;
  border-radius: 0.13rem;
}
.text_10 {
  margin-left: 0.13rem;
  color: #ff5000;
  font-size: 0.63rem;
  font-family: Arial;
  line-height: 0.58rem;
}
.group_7 {
  margin-left: 1.56rem;
  margin-top: 0.31rem;
}
.group_8 {
  line-height: 0.55rem;
}
.text_7 {
  line-height: 0.55rem;
}
.font_4 {
  font-size: 0.81rem;
  font-family: Arial;
  line-height: 0.75rem;
  color: #333333;
}
.text_8 {
  line-height: 0.081rem;
}
.font_3 {
  font-size: 0.63rem;
  font-family: Arial;
  line-height: 0.46rem;
  color: #333333;
}
.font_5 {
  font-size: 0.75rem;
  font-family: Arial;
  line-height: 0.69rem;
  color: #999999;
}
.text_9 {
  line-height: 0.54rem;
}
.group_9 {
  padding-left: 2.44rem;
}
.text_11 {
  line-height: 0.75rem;
}
.font_6 {
  font-size: 0.81rem;
  font-family: Arial;
  line-height: 0.75rem;
  color: #999999;
}
.text_12 {
  line-height: 0.75rem;
}
.image_5 {
  border-radius: 0.19rem 0rem 0rem 0.19rem;
  width: 1.41rem;
  height: 1.25rem;
}
.text-wrapper_2 {
  padding: 0.31rem 0 0.41rem;
  background-color: #ffffff;
  width: 2.25rem;
  height: 1.25rem;
  border-left: solid 0.031rem #e0e0e0;
  border-right: solid 0.031rem #e0e0e0;
  border-top: solid 0.031rem #e0e0e0;
  border-bottom: solid 0.031rem #e0e0e0;
}
.text_13 {
  color: #999999;
  line-height: 0.45rem;
  transform: rotate(0deg);
}
.image_6 {
  border-radius: 0rem 0.19rem 0.19rem 0rem;
  width: 1.41rem;
  height: 1.25rem;
}
.group_10 {
  overflow: hidden;
  width: 16.13rem;
}
.text_14 {
  line-height: 0.75rem;
}
.text_15 {
  line-height: 0.76rem;
}
.group_11 {
  margin-top: 1.97rem;
}
.group_12 {
  padding: 0 0.75rem 1rem 3.19rem;
}
.group_13 {
  overflow: hidden;
  width: 7.84rem;
  height: 0.75rem;
}
.group_14 {
  padding: 0.13rem 0;
  overflow: hidden;
  width: 2.84rem;
  height: 0.81rem;
}
.group_15 {
  line-height: 0.59rem;
}
.font_7 {
  font-size: 0.81rem;
  font-family: Arial;
  line-height: 0.59rem;
  color: #333333;
}
.image_7 {
  width: 0.44rem;
  height: 0.75rem;
}
.section_2 {
  padding: 1rem 0;
  background-color: #ffffff;
  border-radius: 0rem 0rem 0.75rem 0.75rem;
}
.group_16 {
  margin-right: 0.75rem;
  line-height: 0.69rem;
}
.text_16 {
  line-height: 0.69rem;
}
.text_17 {
  color: #ff5000;
  line-height: 0.59rem;
}
.text_18 {
  color: #ff5000;
}
.section_3 {
  padding: 0.94rem 0.75rem 1.06rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
}
.text-wrapper_3 {
  padding: 0.13rem 0 0.25rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=f7d26a7971e533d7a22ede0914d5932d.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 1.09rem;
  height: 0.84rem;
}
.text_20 {
  color: #ffffff;
  font-size: 0.51rem;
  font-family: Arial;
  line-height: 0.47rem;
}
.text_19 {
  color: #333333;
  font-size: 0.88rem;
  font-family: Arial;
  line-height: 0.81rem;
}
.group_17 {
  padding: 0.13rem 0;
  overflow: hidden;
  width: 3.06rem;
  height: 0.81rem;
}
.section_4 {
  background-color: #ff5000;
  width: 0.28rem;
  height: 0.063rem;
}
.text_21 {
  line-height: 0.59rem;
}
.image_8 {
  width: 1.06rem;
  height: 1.06rem;
}
.text_22 {
  margin-left: 0.5rem;
  line-height: 0.69rem;
}
.image_9 {
  margin-left: 0.25rem;
  opacity: 0.6;
  width: 0.84rem;
  height: 0.84rem;
}
.image_10 {
  margin-top: 13.94rem;
  width: 100vw;
  height: 22.9333vw;
}