.ml-13 {
  margin-left: 0.81rem;
}
.ml-17 {
  margin-left: 1.06rem;
}
.mt-7 {
  margin-top: 0.44rem;
}
.page {
  padding: 3.7rem 1.42rem 1rem 1.45rem;
  background-color: #ffffff;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.image {
  width: 2.75rem;
  height: 2.75rem;
}
.text {
  color: #002055;
  font-size: 1.13rem;
  font-family: Poppins;
  line-height: 0.84rem;
}
.section {
  margin-top: 2.33rem;
  padding: 0.85rem 1.1rem 0.78rem;
  background-color: #ffffff;
  border-radius: 0.75rem;
  border: solid 0.063rem #e8f0ff;
}
.image_2 {
  width: 1.25rem;
  height: 1.31rem;
}
.font {
  font-size: 0.88rem;
  font-family: Poppins;
  line-height: 0.71rem;
  color: #002055;
}
.text_2 {
  color: #848a94;
  line-height: 0.66rem;
}
.list {
  padding-top: 0.42rem;
}
.group_2 {
  padding: 1.42rem 0 0.52rem;
}
.image_3 {
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
}
.font_2 {
  font-size: 0.88rem;
  font-family: Poppins;
  line-height: 0.9rem;
  color: #002055;
}
.font_3 {
  font-size: 0.69rem;
  font-family: Poppins;
  line-height: 0.71rem;
  color: #848a94;
}
.text_3 {
  line-height: 0.53rem;
}
.image_4 {
  margin-right: 0.2rem;
  width: 1.25rem;
  height: 1.13rem;
}
.group_6 {
  margin-top: 13.94rem;
  padding: 0 0.47rem;
}
.image_7 {
  width: 1.31rem;
  height: 1.38rem;
}
.image_8 {
  width: 1.31rem;
  height: 1.31rem;
}
.image_6 {
  width: 3.13rem;
  height: 3.13rem;
}
.image_9 {
  width: 1.25rem;
  height: 1.25rem;
}
.image_10 {
  margin-right: 0.11rem;
  width: 1rem;
  height: 1.25rem;
}