.ml-33 {
  margin-left: 2.06rem;
}
.mt-45 {
  margin-top: 2.81rem;
}
.ml-9 {
  margin-left: 0.56rem;
}
.page {
  padding: 3.89rem 0.42rem 4.25rem 1rem;
  background-color: #f2f4f9;
  border-radius: 2rem;
  width: 100%;
  overflow-y: auto;
  overflow-x: hidden;
  height: 100%;
}
.image {
  width: 0.44rem;
  height: 0.94rem;
}
.section {
  background-color: #dce0e8;
  border-radius: 0.13rem;
  height: 0.5rem;
}
.section_2 {
  background-color: #242d49;
  border-radius: 0.13rem;
  width: 5.59rem;
  height: 0.5rem;
}
.font {
  font-size: 1rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.01rem;
  line-height: 0.98rem;
  font-weight: 600;
}
.text {
  color: #242d49;
  line-height: 0.96rem;
}
.group_1 {
  margin-top: 4.51rem;
}
.text_2 {
  color: #242d49;
  font-size: 1.88rem;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: 2.38rem;
  letter-spacing: -0.019rem;
  width: 18.88rem;
}
.group {
  padding: 0 0.063rem;
  height: 21.76rem;
}
.pos {
  position: absolute;
  left: 0;
  top: 0;
}
.image_2 {
  width: 1.25rem;
  height: 1.25rem;
}
.font_2 {
  font-size: 1rem;
  font-family: Plus Jakarta Sans;
  letter-spacing: -0.01rem;
  line-height: 0.77rem;
  font-weight: 700;
}
.text_3 {
  color: #242d49;
}
.image_3 {
  border-radius: 0.25rem;
  width: 1.44rem;
  height: 1.44rem;
}
.pos_2 {
  position: absolute;
  right: 0.45rem;
  top: 0;
}
.text_5 {
  color: #242d49;
  font-size: 11.25rem;
  font-family: Plus Jakarta Sans;
  font-weight: 800;
  line-height: 8.52rem;
  letter-spacing: -0.45rem;
}
.pos_6 {
  position: absolute;
  right: 0.66rem;
  bottom: 0;
}
.text_4 {
  color: #5d6985;
}
.pos_4 {
  position: absolute;
  left: 0.17rem;
  top: 2.12rem;
}
.section_3 {
  padding: 4.36rem 4.32rem 7.45rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=02442e4fe5b4e697e6588c96da56d32e.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.pos_3 {
  position: absolute;
  left: 0.45rem;
  right: 1.01rem;
  top: 50%;
  transform: translateY(-50%);
}
.image_4 {
  margin-top: 1.63rem;
  border-radius: 0.75rem;
  width: 5.69rem;
  height: 5.69rem;
}
.image-wrapper {
  padding: 5.11rem 0 4.26rem;
  background-image: url('https://ide.code.fun/api/image?token=6837d51d4ae84d0012310ff0&name=3b870c7f8dcba3263a87ad6066bf1521.png');
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 10.81rem;
}
.pos_5 {
  position: absolute;
  left: 0;
  top: 9.75rem;
}
.image_5 {
  margin-left: 4.3rem;
}
.pos_7 {
  position: absolute;
  left: 0;
  bottom: 0.2rem;
}
.section_4 {
  margin-right: 0.58rem;
  margin-top: 4.18rem;
  padding: 1.38rem 0 1.3rem;
  background-color: #0f66fe;
  border-radius: 0.75rem;
  overflow: hidden;
}
.text_6 {
  color: #ffffff;
}
.image_6 {
  width: 1.13rem;
  height: 0.75rem;
}